[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = {version = ">=0.18"}
flask = {version = ">=2.0"}
gunicorn = {version = ">=20.1"}
psycopg2 = {version = ">=2.9"}
python-magic = {version = ">=0.4"}
pyyaml = {version = ">=6.0"}
sqlalchemy = {version = "~=1.4"}

[dev-packages]
black = {version = ">=22.10"}

[requires]
python_version = "3.11"
