<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asciinema-player.css') }}" />
        <script src="{{ url_for('static', filename='asciinema-player.min.js') }}"></script>
    </head>
    <body bgcolor="#292923">
        <div id="player-container"></div>
        <script>
            AsciinemaPlayer.create(
                "{{url}}",
                document.getElementById("player-container"),
                {{params|tojson}},
            );
        </script>
    </body>
</html>
