{% set read_only = paste is defined and paste is not none %}
<!DOCTYPE html>
<html>
    <head>
        <title>pbnh</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/font-awesome/css/font-awesome.min.css') }}">
    </head>
    <body>
        <div title="Ctrl-N" id="newicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10px;
            position: absolute;
            right: 90px;
            z-index: 100;
            "><i class="fa fa-file-o fa-lg"></i></div>
        <div id="redirecticon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10px;
            position: absolute;
            right: 58px;
            z-index: 100;
            "><i class="fa fa-external-link fa-lg"></i></div>
        <div title="Ctrl-S" id="saveicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10px;
            position: absolute;
            right: 30px;
            z-index: 100;
            "><i class="fa fa-save fa-lg"></i></div>
        <div id="helpicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10px;
            position: absolute;
            right: 10px;
            z-index: 100;
            "><i class="fa fa-question fa-lg"></i></div>

        <div id="lightbox" style="
            visibility: hidden;
            position: absolute;
            z-index: 100;
            ">
            <form action="/" method="post">
                <input type="text" name='redirect'><br>
                <input type="submit" value="Submit a url to redirect to. Must include http://">
            </form>
        </div>

        <textarea id="paste" name="content" style="display: none;">{{ paste }}</textarea>
        <div id="editor-container" style="height: 100%;"></div>

        <script type="module">
            import { createEditor } from "{{ url_for('static', filename='dist/pbnh-editor.js') }}";

            window.editor = createEditor({
                parent: document.getElementById('editor-container'),
                doc: document.getElementById('paste').value,
                mime: '{{ mime }}',
                extension: '{{ extension }}',
                onSave: function() { saveicon.click(); },
                onNew: function() { newicon.click(); },
            });
            editor.focus();

            newicon.addEventListener("click", function () {
                window.location.href = '/';
            });
            helpicon.addEventListener("click", function () {
                window.location.href = '/about';
            });
            redirecticon.addEventListener('click', function () {
                var lightbox = document.getElementById("lightbox");
                lightbox.style.visibility = 'visible';
                lightbox.style.top = window.innerHeight / 2 - 50 + 'px';
                lightbox.style.left = window.innerWidth / 2 - 100 + 'px';
            });
        </script>
        {% if read_only %}
        <h1 id="loading-message" style="color:white;">If you are seeing this your paste is really big and
            is taking a while to load. You can always add .&#60;extension&#62;to the
            end of it to load the paste directly to the browser with the correct
            mimetype</h1>
        <script type="module">
        editor.setReadOnly(true);
        document.getElementById('loading-message')?.remove();
        </script>
        {% else %}
        <script type="module">
        saveicon.addEventListener('click', function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 201 && xhttp.responseText.length) {
                    window.location.href = JSON.parse(xhttp.responseText).link + ".txt";
                }
            };
            var myForm = new FormData();
            myForm.append("content", editor.getValue());
            xhttp.open("POST", "/");
            xhttp.send(myForm);
        });
        </script>
        {% endif %}
    </body>
</html>
