{% set read_only = url is defined and url is not none %}
<!DOCTYPE html>
<html>
    <head>
        <title>pbnh</title>
        <style>
            html, body {
                background-color: #272822;  /* Make the background match codemirror-theme-monokai. */
                color: white;
                height: 100%;
                margin: 0;
            }
            body {
                display: flex;
            }
            #editor-container {
                flex: 1;
            }
            #toolbar {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                list-style: none;
                margin: 0;
                padding: 1rem;
            }
            #toolbar li {
                cursor: pointer;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/font-awesome/css/font-awesome.min.css') }}">
    </head>
    <body>
        <div id="editor-container"></div>
        <ul id="toolbar">
            <li id="helpicon" title="About"><span class="fa fa-question fa-lg"></span></li>
            <li id="newicon" title="New Paste"><span class="fa fa-file-o fa-lg"></span></li>
            <li id="redirecticon" title="Save as Redirect"><span class="fa fa-external-link fa-lg"></span></li>
            <li id="saveicon" title="Save (ctrl+s)"><span class="fa fa-save fa-lg"></span></li>
        </ul>
        <div id="lightbox" style="
            visibility: hidden;
            position: absolute;
            z-index: 100;
            ">
            <form action="/" method="post">
                <input type="text" name='redirect'><br>
                <input type="submit" value="Submit a url to redirect to. Must include http://">
            </form>
        </div>
        <script type="module">
            import { createEditor } from "{{ url_for('static', filename='dist/pbnh-editor.js') }}";

            window.editor = createEditor({
                parent: document.getElementById('editor-container'),
                url: {{ url|default('')|tojson }},
                onKeyDown: (event) => {
                    if ((event.ctrlKey || event.metaKey) && event.key === "s") {
                        event.preventDefault();
                        saveicon.click();
                    }
                },
            });
            editor.focus();

            newicon.addEventListener("click", function () {
                window.location.href = '/';
            });
            helpicon.addEventListener("click", function () {
                window.location.href = '/about';
            });
            redirecticon.addEventListener('click', function () {
                var lightbox = document.getElementById("lightbox");
                lightbox.style.visibility = 'visible';
                lightbox.style.top = window.innerHeight / 2 - 50 + 'px';
                lightbox.style.left = window.innerWidth / 2 - 100 + 'px';
            });
        </script>
        {% if read_only %}
        <h1 id="loading-message" style="color:white;">If you are seeing this your paste is really big and
            is taking a while to load. You can always add .&#60;extension&#62;to the
            end of it to load the paste directly to the browser with the correct
            mimetype</h1>
        <script type="module">
        document.getElementById('loading-message')?.remove();
        </script>
        {% else %}
        <script type="module">
        saveicon.addEventListener('click', function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 201 && xhttp.responseText.length) {
                    window.location.href = JSON.parse(xhttp.responseText).link + ".txt";
                }
            };
            var myForm = new FormData();
            myForm.append("content", editor.getValue());
            xhttp.open("POST", "/");
            xhttp.send(myForm);
        });
        </script>
        {% endif %}
    </body>
</html>
