<!DOCTYPE html>
<html>
    <head>
        <title>pbnh</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/font-awesome/css/font-awesome.min.css') }}">
    </head>
    <body bgcolor="#292923">
        <div title="Ctrl-N" id="newicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10;
            position: absolute;
            right: 90;
            z-index: 100;
            "><i class="fa fa-file-o fa-lg"></i></div>
        <div id="redirecticon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10;
            position: absolute;
            right: 58;
            z-index: 100;
            "><i class="fa fa-external-link fa-lg"></i></div>
        <div title="Ctrl-S" id="saveicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10;
            position: absolute;
            right: 30;
            z-index: 100;
            "><i class="fa fa-save fa-lg"></i></div>
        <div id="helpicon" style="
            color: #fff;
            cursor: pointer;
            padding-top: 10;
            position: absolute;
            right: 10;
            z-index: 100;
            "><i class="fa fa-question fa-lg"></i></div>

        <div id="lightbox" style="
            visibility: hidden;
            position: absolute;
            z-index: 100;
            ">
            <form action="/" method="post">
                <input type="text" name='redirect'><br>
                <input type="submit" value="Submit a url to redirect to. Must include http://">
            </form>
        </div>

        <textarea id="paste" name="content" style="display: none;">{{paste}}</textarea>
        <div id="editor-container" style="height: 100%;"></div>

        <script type="module">
            import { createEditor } from "{{ url_for('static', filename='dist/pbnh-editor.js') }}";

            window.editor = createEditor({
                parent: document.getElementById('editor-container'),
                doc: document.getElementById('paste').value,
                mime: '{{mime}}',
                extension: '{{extension}}',
                onSave: function() { saveicon.click(); },
                onNew: function() { newicon.click(); },
            });
            editor.focus();

            newicon.addEventListener("click", function () {
                window.location.href = '/';
            });
            helpicon.addEventListener("click", function () {
                window.location.href = '/about';
            });
            redirecticon.addEventListener('click', function () {
                var lightbox = document.getElementById("lightbox");
                lightbox.style.visibility = 'visible';
                lightbox.style.top = window.innerHeight / 2 - 50 + 'px';
                lightbox.style.left = window.innerWidth / 2 - 100 + 'px';
            });
        </script>
        {% block body %}{% endblock %}
    </body>
</html>
