<!DOCTYPE html>
<html>
    <head>
        <title>pbnh</title>
        <script src="{{ url_for('static', filename='dist/marked.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/purify.min.js') }}"></script>
    </head>
    <body>
        <main></main>
        <script>
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "{{ url }}", false);
            xmlhttp.send();
            document.querySelector("main").innerHTML = DOMPurify.sanitize(marked.parse(xmlhttp.responseText));
        </script>
    </body>
</html>
